<!-- <div class="tile-container">
  <div
    *ngFor="let rowIndex of [].constructor(yDimension); let y = index"
    class="tile-row"
  >
    <app-tile
      *ngFor="let colIndex of [].constructor(xDimension); let x = index"
      [coordinates]="{ x, y }"
      [tileSize]="{ x: tileSize + 'px', y: tileSize + 'px'}"
      (click)="onTileClick($event, x, y)"
      (mousedown)="onTileMouseover($event, x, y)"
      (mouseover)="onTileMouseover($event, x, y)"
      (mouseup)="onTileMouseup($event)"
    ></app-tile>
  </div>
</div> -->