@import 'variables';

:host {
  height: 100%;
  width: 100%;
  color: white;

  .game-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .column {
    flex: 33.33%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
  }

  .row {
    flex: 10%;
    position: relative;

    &.game-board {
      display: flex;
      justify-content: center;
    }

    &.palette {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &.turn-functions-container {
      display: flex;
      flex-direction: column;
    }

    &.board-piece-palette {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &.map-editor-toggle-row {
      display: flex;
      flex-direction: row;
    }
  }
}

.turn-functions {
  flex-grow: 1;
  flex-basis: 0;
}