<div class="game-container">
  <div class="column">
    <div class="row">
      
    </div>
    <div class="row">

    </div>
    <div class="row">
      
    </div>
    
  </div>
  <div class="column">
    <div class="row">
      <!-- <h2 [ngStyle]="{'position': 'absolute', 'bottom': 0}">5 / 5 Points</h2> -->
    </div>
    <div class="row game-board">
      <app-board
      ></app-board>
    </div>
    <div class="row">
      <!-- <h2 [ngStyle]="{'text-align': 'right'}">5 / 5 Points</h2> -->
    </div>
  </div>
  <div class="column">
    <div class="row board-piece-palette">
      <div></div>
      <app-board-piece-palette></app-board-piece-palette>
    </div>
    <div *ngIf="showMapEditor" class="row palette">
      <app-tile-palette></app-tile-palette>
      <app-map-dimension-settings></app-map-dimension-settings>
      <app-map-functions></app-map-functions>
    </div>
    <div *ngIf="!showMapEditor" class="row palette">

    </div>
    <div class="row turn-functions-container">
      <div class="turn-functions"></div>
      <div class="turn-functions">
        5 / 5 Action Points
      </div>
    </div>
  </div>
</div>
